body {
	font-family:Oswald !important;
	background:url('../image/p1.jpg');
}

.page {
	height:100%!important;
	background-repeat:no-repeat;
    background-size: 100% 100%;
}

.profile {
	height:100%;
	width:100%;
}

footer {
	font-size:18px !important;
}

.label-profile {
	padding:10px!important;
}

ul.buttons li a {
	text-decoration:none!important;
	color:black;
}

/* Profile CSS */
@import "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
.clearfix:after {
  clear: both;
  display: block;
  content: " ";
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.oneliner, .additional-block .label, .additional-block .value, .carousel-block .description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

html > body .oneliner, html > body .additional-block .label, .additional-block html > body .label, html > body .additional-block .value, .additional-block html > body .value, html > body .carousel-block .description, .carousel-block html > body .description, x:-moz-any-link {
  white-space: normal;
}

.thisToFlexContainer, .box-container, .estate-info .item, .relations-block .item, .activities-block .item, .searchprofiles-block .item {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.thisToFlexWidthOne, .estate-info, .estate-info .item .value, .relations-block .value, .activities-block .value, .searchprofiles-block .value {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.thisToFlexWidthTwo {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

.wrapper {
  font-size: 0.6875em;
  color: #333;
  /*height:100vh; */
}

h2 {
  margin: 0;
  padding: .5em;
  border-bottom: 1px solid #f0f0f0;
  font-weight: normal;
}

p {
  padding: 0 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.label {
  color: #969696;
}

.value {
  color: #333;
}

.value.link {
  color: #1b75bb;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.additional-block {
  background: #fcfcfc;
  border: 1px solid #dadada;
  margin: 1em;
  position: relative;
  font-size:17px !important;
}
.additional-block .clearfix {
  width: 100%;
  display: block;
}
.additional-block .label, .additional-block .value {
  display: inline-block;
}

.box-container {
  width: 100%;
}

.image-container {
  padding: 1em 0 0 1em;
}

.image-container img{
  max-width:150px;
  max-height:150px;
  border-radius:10px;
  min-height:150px!important;
  min-width:150px!important;
}

.estate-info {
  padding: 1em;
}
.estate-info h2 {
  border: none;
  padding: 0 0 0 0;
}
.estate-info .item {
  line-height: 1.7;
  width: 100%;
}
.estate-info .item .label {
  width: 12em;
  padding: 0;
}
.estate-info .item .value {
  padding: 0;
}

.buttons {
  width: 17em;
}
.buttons li {
  text-align: left;
  background: #f0f0f0;
  cursor: pointer;
  padding: 1.2em 1em 1.2em 2em;
  position: relative;
}
.buttons li i {
  display: inline-block;
  font-size: 14px;
  padding-right: .5em;
  width: 1em;
}
.buttons li:hover {
  background: #eaeaea;
}
.buttons .moregroup {
  display: none;
  width: 17em;
  position: absolute;
  left: 0;
  top: 3.8em;
  z-index: 10;
}
.buttons .moregroup li {
  position: relative;
  background: #e3e3e3;
  padding-left: 4.5em;
  padding-top: .6em;
  padding-bottom: .5em;
}
.buttons .moregroup li:hover {
  background: #d6d6d6;
}
h2 ~ .buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-block {
  background: #fcfcfc;
  border-bottom: 1px solid #dadada;
  white-space: nowrap;
  overflow-x: scroll;
}
.carousel-block .container {
  display: inline-block;
  padding: 1em 0 1em 0;
  margin-left: 1em;
  text-align: center;
}
.carousel-block .container:hover {
  background: #f0f0f0;
}
.carousel-block .container:last-child {
  padding-right: 1em;
}
.carousel-block img {
  display: inline-block;
  width: 10em;
  height: 10em;
  background: #f0f0f0;
  cursor: pointer;
}
.carousel-block .description {
  color: #969696;
  cursor: pointer;
  width: 10em;
  margin: 0;
  padding: 0;
}
.carousel-block .description:hover {
  color: #333;
}

.address-details {
  padding: 1em 0;
}
.address-details .item {
  width: 29em;
  display: inline-block;
  margin-right: 1em;
  line-height: 1.7;
}
.address-details .item .label, .address-details .item .value {
  padding: 0 1em;
}
.address-details .item .label {
  width: 8em;
}
.address-details .item .value {
  width: 17em;
}

.relations-block .item, .activities-block .item, .searchprofiles-block .item {
  line-height: 2;
  width: 100%;
}
.relations-block .item i, .activities-block .item i, .searchprofiles-block .item i {
  display: inline-block;
  width: 2em;
  font-size: 14px;
  text-align: center;
  color: #333;
  line-height: 1.6;
}
.relations-block .item i[class=icon-ok-sign], .activities-block .item i[class=icon-ok-sign], .searchprofiles-block .item i[class=icon-ok-sign] {
  color: #439b18;
}
.relations-block .item .undone, .activities-block .item .undone, .searchprofiles-block .item .undone {
  opacity: .2;
  color: #439b18;
}
.relations-block p, .activities-block p, .searchprofiles-block p {
  margin: 0;
  color: #969696;
  padding: 0 1em 0 0;
}
.relations-block .label, .activities-block .label, .searchprofiles-block .label {
  width: 10.5em;
}
.relations-block .value, .activities-block .value, .searchprofiles-block .value {
  height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.relations-block .description, .activities-block .description, .searchprofiles-block .description {
  width: 13em;
  /* Chrome 12em */
}
.relations-block h2 + .item, .relations-block .buttons + .item, .activities-block h2 + .item, .activities-block .buttons + .item, .searchprofiles-block h2 + .item, .searchprofiles-block .buttons + .item {
  margin-top: 1em;
}
.relations-block .item:last-child, .activities-block .item:last-child, .searchprofiles-block .item:last-child {
  margin-bottom: 1em;
}

@media screen and (min-width: 1200px) {
  .carousel-block img {
    width: 20em;
    height: 20em;
  }
  .carousel-block .description {
    width: 20em;
  }
}
@media screen and (max-width: 800px) {
  .carousel-block img {
    width: 5em;
    height: 5em;
  }
  .carousel-block .description {
    width: 5em;
  }
}

/* Upload Image section CSS */
.img-container {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.img-container-meal {
  position: relative;
  width: 50%;
  cursor: pointer;
}

.preview-img {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height:250px;
  width:250px;
  border-radius:50%;
}

.preview-img-meal {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height:250px;
  width:250px;
  border-radius:50%;
}

.upload-text-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.upload-text-container-meal {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .preview-img {
  opacity: 0.3;
}

.img-container:hover .upload-text-container {
  opacity: 1;
}

.img-container-meal:hover .preview-img-meal {
  opacity: 0.3;
}

.img-container-meal:hover .upload-text-container-meal {
  opacity: 1;
}

.upload-text {
  color: black;
  font-size: 16px;
  /*padding: 16px 32px;*/
  text-align:center;
  margin-left: 5.1vw!important;
}

.upload-text-meal {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  text-align:center;
}

/* pagination's CSS */
.pagination {
  display: inline-block;
}

.pagination a.page {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
}

.pagination a.page.active {
  background-color: #333!important;
  color: white!important;
}

.pagination a.page:hover:not(.active) {
  background-color: #ddd;
	color:black!important;
}

.pagination a.page:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a.page:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-items a:hover {
	color:black!important;
	transition:.3s!important;
}
