.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 1s;
    z-index: 2000;
}

.preloader:before {
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete:before {
    left: -50%;
}

.preloader:after {
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete:after {
    right: -50%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #262626;
    animation: animate 2s linear infinite;
    z-index: 1000;
}

.loader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #262626;
    animation: animateBg 2s linear infinite;
}

.preloader.complete {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
}

@keyframes animate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%,-50%) rotate(180deg);
    }

    50% {
        transform: translate(-50%,-50%) rotate(180deg);
    }

    75% {
        transform: translate(-50%,-50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
}

@keyframes animateBg {
    0% {
        height: 0;
    }

    25% {
        height: 0;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0;
    }
}

.hidden {
    opacity: 0;
    transition: .5s;
}