/* WELCOME OPENING OP */
.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
    display: inline-block;
    margin-right: 50px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 4em;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1) {
    transform: translateX(-200px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(2) {
    transform: translateX(20px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(3) {
    transform: translateX(-150px) translateY(-80px);
}

.fly-in-text.hidden li:nth-child(4) {
    transform: translateX(10px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(5) {
    transform: translateX(-300px) translateY(200px);
}

.fly-in-text.hidden li:nth-child(6) {
    transform: translateX(20px) translateY(-20px);
}

.fly-in-text.hidden li:nth-child(7) {
    transform: translateX(30px) translateY(200px);
}

.fly-in-text.transition li {
    opacity: 0;
    transition: .5s;
}

.hidden {
    opacity: 0;
    transition: .5s;
}